<div class="account-nav">
    <div class="account-sidenav">
        <mat-list role="list" class="account-list">
            <mat-list-item role="listitem">
                <mat-icon>dashboard</mat-icon>
                <button mat-button (click)='btnClick("dashboard")'>Account Dashboard</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon>info</mat-icon>
                <button mat-button (click)='btnClick("information")'>Account Information</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon>location_on</mat-icon>
                <button mat-button (click)='btnClick("Addresses")'>Addresses</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon>add_shopping_cart</mat-icon>
                <button mat-button>Order History</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon>power_settings_new</mat-icon>
                <button mat-button>Logout</button>
            </mat-list-item>
        </mat-list>        
    </div>
    <div class="account-routes">
        <app-account-dashboard></app-account-dashboard>
        <app-account-address></app-account-address>
    </div>
</div>