.account-nav{
    position: relative;
    display: inline-block;
    
    .account-sidenav{
        position: relative;
        display: inline-block;
        background-color: white;
        height: auto;
        width: auto;
        flex:1;
        margin-right:15px;
    }

    .account-routes{        
        position: relative;
        display: inline-block;          
    }
}