<div class="account-nav">
    <mat-list role="list" class="account-list">
        <mat-list-item role="listitem">
            <mat-icon>dashboard</mat-icon>
            <button mat-button>Account Dashboard</button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon>info</mat-icon>
            <button mat-button>Account Information</button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon>location_on</mat-icon>
            <button mat-button>Addresses</button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon>add_shopping_cart</mat-icon>
            <button mat-button>Order History</button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon>power_settings_new</mat-icon>
            <button mat-button>Logout</button>
        </mat-list-item>
    </mat-list>    
</div>
