<div class="dasboard-card">
  <mat-card>
    <mat-card-header>      
      <mat-card-title>          
          <h2>Account  Information</h2>       
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>          
      </mat-card-title>
    </mat-card-header>    
    <mat-divider></mat-divider>
    <mat-card-content class="account-info">     
        <br/>
        <h4>Emilio Verdines</h4>
        <h4>emilio.verdines@gmail.com</h4>
        <a routerLink="accountsettings/information" >Change password</a>        
    </mat-card-content>       
  </mat-card>  
</div>
 
