mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
mat-sidenav {
    width: 250px;
}
.app-content{
    height: 650px;
    background-color: #e5dfe6;
}

.goto-top{
    position: relative;
    height: 40px;
    width: 40px;
    float: right;
    right: 20px;
    bottom: 50px;
    z-index: 99;
    background-color: rgba(48, 46, 46, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

