<div class="footer-container">
    <div class="news-letter-section">
        <div class="subscribe-caption">
            <h1 style="font-weight: 500;">Subscribe our Newsletter</h1> 
            <span>Stay up to date with our latest new and products</span>
        </div>
        <div class="form-section">
            <form class="email-form">
                <input matInput class="mail-input" placeholder="Your Email Address..."/>
                <button mat-flat-button>
                    <span>SUBSCRIBE</span>
                </button>
            </form>
        </div>
    </div>
    <div class="footer-content">

    </div>
    <div class="copyright-section">

    </div>
</div>
