<div class="sidenav-container">
    <div class="nav-action">
        <button mat-icon-button class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="side-menus">
        <button mat-button color="primary" class="btn-home" #btnRef="matButton">HOME</button>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title class="exp-fashion">
                        FASHION
                    </mat-panel-title>
                </mat-expansion-panel-header>                
                <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="exp-women">
                            WOMEN
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="exp-men">
                            MEN
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="exp-kids">
                            KIDS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="exp-accessories">
                            ACCESSORIES
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-expansion-panel>
        </mat-accordion>
        <button mat-button color="primary" class="btn-jewellary">JEWELLARY</button>
        <button mat-button color="primary" class="btn-elecronic">ELECTRONICS</button>
        <button mat-button color="primary" class="btn-sports">SPORTS</button>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        PAGES
                    </mat-panel-title>
                </mat-expansion-panel-header>                
                <button mat-button color="primary" class="btn-sidenav-products">ALL PRODUCTS</button>
                <button mat-button color="primary" class="btn-sidenav-prod_detail">PRODUCT DETAIL</button>
                 <button mat-button color="primary" class="btn-sidenav-signin" (click)='btnClick("signin")'>SIGN IN</button>              
                  <button mat-button color="primary" class="btn-sidenav-404_error">404 ERROR</button>
                <button mat-button color="primary" class="btn-sidenav-landing">LANDING</button>
            </mat-expansion-panel>
        </mat-accordion>
        <button mat-button color="primary" class="btn-contacts">CONTACTS</button>
        <button mat-button color="primary" class="btn-adminPanel">ADMIN PANEL</button>
    </div>
    <mat-divider></mat-divider>
    <div class="social-icons">
        <div class="icons-row">
            <img src="../../assets/icons/facebook.svg" alt="facebook_link"/>
            <img src="../../assets/icons/twitter.svg" alt="twitter"/>
            <img src="../../assets/icons/google-plus.svg" alt="googleplus_link"/>
        </div>
    </div>
</div>
