.sidenav-container{
    padding: 10px;
    
    .nav-action{
        position: relative;
        width: 100%;
        height: 10%;
        display: block;
        padding: 20px 0 20px 0;

        .close-btn{
            position: relative;
            left: 80%;
        }
    }
    .side-menus{
        position: relative;
        height: auto;
        padding: 10px 0 10px 0;
        overflow: hidden;
        overflow-y: auto;
        button{
            display: block;
            text-align: left;
            width: 100%;
        }
        mat-expansion-panel{
            box-shadow: none;
            
            mat-expansion-panel-header{
                padding: 0 15px;
                height: 34px;

                mat-panel-title{
                    color: #673ab7;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            mat-expansion-panel{
                
            }
        }
        
    }
    .social-icons{
        padding: 10px;
        text-align: center;

        img{
            width: 35px;
            height: 35px;
            padding: 10px;
            color: red;
            display: inline-block;
        }
    }
}